
@{
    ViewBag.Title = "TrainersTable";
}

<h2>Trainers Table</h2>
<a href="~/Home/Index">HOME</a>
<br />
@if (ViewBag.trainers.Count == 0)
{
    <h1>No trainers</h1>
}
else
{
    <table border="1">
        <tr>
            <td>Username</td>
            <td>Action</td>
        </tr>
        @foreach (var item in ViewBag.trainers)
        {
            <tr>
                <td>@item.Username</td>
                <td>
                    <form method="post" action="~/Vlasnik/BlockTrainer">
                        <input type="hidden" value="@item.Username" name="username" />
                        <input type="submit" value="Block" />
                    </form>
                </td>
            </tr>
        }

    </table>
}
